<div class="container">
    <div class="row">
        <div class="col">
            <p>Este operador es ultil cuando en el mismo lugar se realiza la misma subscripcion, si observas la lista de peticiones se podra ver que solo se raliza 1 peticion en lugar de 2 peticiones pero no aplicaria si se tiene un boton y llama el mismo servicio este si volveria a realizar la peticion</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <app-table></app-table>
        </div>
        <div class="col">
            <app-table></app-table>
        </div>
    </div>
    <!-- <div class="row">
        <div class="col">
            <button class="btn btn-primary" (click)="showSecondTable = !showSecondTable"> show second table</button>
        </div>
    </div> -->
</div>