<div class="container">
    <h1>Temario de angular avanzado</h1>


    <ol class="list-group list-group-numbered">
        <li class="list-group-item">
            <a [routerLink]=" ['content-proyection'] ">Content-proyection</a>
        </li>
        
        <li class="list-group-item">
            <a [routerLink]=" ['content-child'] ">@ContentChild and ngAfterContentInit</a>
        </li>

        <li class="list-group-item">
            <a [routerLink]=" ['dynamic-form'] ">Dynamic form</a>
        </li>

    </ol>


    <h2>sections</h2>

    <hr>

    <router-outlet></router-outlet>

</div>


